$primary-color: #8b5050 !important;

.home-page {
}

.home-img {
  .intro-page {
    display: flex;
    align-items: center;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url('../../../public/images/pages/label_page.png');
    object-fit: cover;
    background-size: cover;
    height: 100%;

    .intro-text {
      color: white;
      margin-left: 20%;

      .intro-btn {
        margin-left: 80%;
        .btn {
          width: 100px;
          background-color: #8b5050;
          border: none;
        }

        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

.card-carousel {
  height: 544px;
}

.test {
  width: 100%;
  height: 20px;
  background-color: $primary-color;
}

.landing-img {
  height: 85vh;
}

.carousel-indicators {
  height: 2vh !important;
}
