$primary-color: #8b5050 !important;

.home-img {
  height: 84vh;
  margin-bottom: 24px;
  .intro-page {
    display: flex;
    align-items: center;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url('../../../public/images/pages/label_page.png');
    object-fit: cover;
    background-size: cover;
    height: 100%;

    .intro-text {
      color: white;
      margin-left: 20%;

      .intro-btn {
        margin-left: 80%;
        .btn {
          width: 100px;
          background-color: #8b5050;
          border: none;
        }

        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

.card-carousel {
  height: 544px;
}

.test {
  width: 100%;
  height: 20px;
  background-color: $primary-color;
}

.label-img {
  background-image: url('../../../public/images/pages/label_page.png');
  background-size: cover;
  height: 800px;
  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
  }

  .label-input {
    width: 80%;
    height: 50%;
    background-color: rgb(81, 81, 81);
    opacity: 0.94;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .label-text {
  }
}
