.Outfited {
  margin-top: 23px;
  margin-bottom: 4vh;
}

.mobilefit {
  margin-top: 66px;
  padding-bottom: 78px !important;
  margin: 8.9vh 0 !important;
}

.pc-fit {
  padding-top: 40px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.owl-theme {
  padding-bottom: 5vh;
}
