.Outfited {
  height: 72vh;
  margin-top: 23px;
  margin-bottom: -4vh;
}

.mobilefit {
  margin-top: 66px;
  padding-bottom: 100px;
}

.owl-theme {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-bottom: 5.5%;
  margin: 2.5%;
}
