@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,400;1,500&family=Kanit:wght@100;200;400;500&family=Oswald:wght@300;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Yanone+Kaffeesatz&display=swap');

.caption {
  margin-top: 10px;
  margin-bottom: -20px;
  color: #f9f9f9 !important;
  font-size: 18px;
  text-shadow: 2px 2px 4px #232121;
  font-family: 'Oswald', sans-serif;
}
