@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,400;1,500&family=Kanit:wght@100;200;400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,400;1,500&family=Kanit:wght@100;200;400;500&family=Oswald:wght@300;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Yanone+Kaffeesatz&display=swap');

$primary-color: #bc9393;

.header-text li > a {
  color: #ffffff;
  font-size: 22px;
  font-family: 'Oswald', sans-serif;
}

.header-text {
  text-shadow: 2px 2px 4px #232121;
  background-color: $primary-color !important;
}

.register {
  color: rgb(255 157 157);
  border-radius: 4px;
}

.header-text li > a:focus,
.header-text li:hover a {
  color: #000000 !important;
}

.features {
  margin-left: 4px;
}

.header-bg {
  width: 100%;
}

.navbar-brand-img {
  margin-left: 204px;
}

.bg-brown {
  background-color: $primary-color;
}

.img-logo {
  width: 100px;
}

.navbar-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-body a {
  padding: 0;
  margin-right: 16px;
}
